h1{
text-align:center;


}

img {
    border-style:solid;
    border-color:rgb(104, 9, 9);
    height:300px;
    display:block;
    margin-left: auto;
    margin-right: auto;

}
p{
    text-indent: 25px
}